[Unit]
Description=Share local port(s) with ngrok
After=syslog.target network.target

[Service]
PrivateTmp=true
Type=simple
Restart=always
RestartSec=1min
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ngrok-client
ExecStart=/bin/sh -c '/opt/ngrok/ngrok start --log stdout --config /opt/ngrok/ngrok.conf --all' &

[Install]
WantedBy=multi-user.target
